<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>Uregister</display-name>
    <servlet-name>Uregister</servlet-name>
    <servlet-class>Uregister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Uregister</servlet-name>
    <url-pattern>/Uregister</url-pattern>
  </servlet-mapping>
  <display-name>Project</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Registerr</display-name>
    <servlet-name>Registerr</servlet-name>
    <servlet-class>Registerr</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Registerr</servlet-name>
    <url-pattern>/Registerr</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegDao</display-name>
    <servlet-name>RegDao</servlet-name>
    <servlet-class>RegDao</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegDao</servlet-name>
    <url-pattern>/RegDao</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Loginserve</display-name>
    <servlet-name>Loginserve</servlet-name>
    <servlet-class>Loginserve</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Loginserve</servlet-name>
    <url-pattern>/Loginserve</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Looginservlet</display-name>
    <servlet-name>Looginservlet</servlet-name>
    <servlet-class>Looginservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Looginservlet</servlet-name>
    <url-pattern>/Looginservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Jregister</display-name>
    <servlet-name>Jregister</servlet-name>
    <servlet-class>Jregister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Jregister</servlet-name>
    <url-pattern>/Jregister</url-pattern>
  </servlet-mapping>
</web-app>